/* reset */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	height: 100vh;
	background-image: url(./street.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.box-container {
	max-width: 70%;
	padding: 50px 20px;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}

.box-container .content {
	width: 100%;
}
.content p {
	margin-top: 20px;
}
.content h1 {
	font-size: 3rem;
}
form {
	display: flex;
	align-items: center;
	flex-direction: column;
}
input[type='email'],
input[type='text'] {
	background: transparent;
	border: 2px solid #fff;
	display: block;
	margin-top: 20px;
	padding: 15px 10px;
	border-radius: 50px;
}
::placeholder {
	color: #fff;
	font-size: 15px;
	font-weight: 300;
}
.btn {
	padding: 13px 70px;
	font-size: 1.3rem;
	color: #fff;
	margin-top: 20px;
	background-color: rgba(68, 134, 68, 0.9);
	border: none;
	border-radius: 50px;
	transition: 0.5s;
}
.btn:hover {
	background-color: transparent;
	border: 1px solid #fff;
}
.sublime {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
span {
	color: #fff;
	font-weight: 300;
	font-size: 17px;
}
.bar {
	width: 2px;
	height: 20px;
	margin: 0 10px;
	background-color: #fff;
}
