@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/* RESET */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: #171925;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
img {
	display: block;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #424769;
	text-transform: capitalize;
	color: #fff;
	font-size: 1rem;
}
p {
	line-height: 1.6;
	font-size: 0.85rem;
	color: #424769;
	margin-top: 10px;
}
ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 1rem;
}
.image {
	object-fit: cover;
	display: none;
}

/* RIGHT SECTION */
.section__left {
	background-color: #1f2338;
	padding: 3rem;
}
.section__left .text {
	margin-block: 20px;
	text-transform: uppercase;
}
input[type='email'],
input[type='password'] {
	width: 100%;
	margin: 10px 0;
	padding: 1.5rem 1rem;
	background-color: #424769;
	outline: 0;
	border: none;
	border-radius: 5px;
}

input[type='checkbox'] {
	margin: 10px 0;
	padding: 0.5rems;
}
.orange-border {
	border-bottom: 2px solid #f2ae30;
	padding-bottom: 5px;
}
::placeholder {
	color: #fff;
}
.btn {
	background-color: #f2ae30;
	border: none;
	padding: 1rem 1.5rem;
	display: inline-block;
	margin-top: 10px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}
.btn:hover {
	background-color: #171925;
	color: #fff;
}
span {
	color: #424769;
}

@media (min-width: 750px) {
	.container {
		width: min(80%, 750px);
		margin-inline: auto;
		border-radius: 10px;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.image {
		display: block;
	}
}
